<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hayoung & Isaac's Wedding</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" tyoe="text/css" href="css/fancybox.css">
	<script src="js/modernizr.custom.js"></script>
</head>

<body class="loading">
	<section class="home-page slide" data-section-name="home">
		<h1>Hayoung & Isaac's Wedding</h1>
		<div class="splash-img">
			<div class="splash-img-tint"></div>
			<div class="rsvp-btn-container">
				<a class="rsvp-btn colored-btn" href="#wedding-form">
					<span>
						RSVP
					</span>
				</a>
			</div>
		</div>
	</section>

	<section id="wedding-details" class="wedding-details slide" data-section-name="details">
		<div class="col-xs-12 col-md-6 wedding-details-info wedding-details-info-when">
			<div class="when-details">
				<h2>
					<span>
						WHEN
					</span>
				</h2>
				<p>
					Saturday
				</p>
				<p>
					June 30, 2018
				</p>
			</div>

			<div class="where-details">
				<h2>
					<span>
						WHERE
					</span>
				</h2>
				<p>
					Seventh/Place
				</p>
				<p>
					802 Mateo St
				</p>
				<p>
					Los Angeles, CA 90021
				</p>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 wedding-details-info wedding-details-info-map">
			<div id="map" class="map"></div>

			<div class="map-btn-container">
				<a class="map-btn colored-btn cool-color-effect" href="https://www.google.com/maps/place/Seventh%2FPlace/@34.0334334,-118.2342116,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x80c2c621a0d83247:0xa2a881583f24d647!2sSeventh%2FPlace!8m2!3d34.033429!4d-118.2320229!3m4!1s0x80c2c621a0d83247:0xa2a881583f24d647!8m2!3d34.033429!4d-118.2320229"
				 target="_blank">
					<span>MAP</span>
				</a>
			</div>
		</div>
	</section>

	<section id="wedding-timeline" class="wedding-timeline slide" data-section-name="timeline">
		<div class="container">
			<h1 class="section-header">Wedding Day Timeline</h1>
			<div id="timeline-container">
				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/wedding-couple.svg" alt="ceremony-img">
					</div>
					<div class="timeline-content">
						<h2>Ceremony - 4:30pm</h2>
						<p>
							It'll be official!
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/taco.svg" alt="taco-img">
					</div>
					<div class="timeline-content right">
						<h2>Cocktail Hour - 5:15pm</h2>
						<p>
							Tacos, boba, drinks, games, you name it.
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/reception.svg" alt="reception-img">
					</div>
					<div class="timeline-content">
						<h2>Reception - 6:30pm</h2>
						<p>
							Good food and good company!
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/party.svg" alt="party-img">
					</div>
					<div class="timeline-content right">
						<h2>After Party - 9:00pm</h2>
						<p>
							It's party time.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <section id="proposal-photos-grid" class="proposal-photos-grid slide" data-section-name="proposal">
		<h1 class="section-header">Proposal Photos</h1>
		<div class="masonry-container">
			<div class="content content--center">
				<div id="grid" class="grid grid--type-a">
					<div class="grid__sizer"></div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/1.jpg">
							<img class="grid__img" src="images/proposal/1.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/2.jpg">
							<img class="grid__img" src="images/proposal/2.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/3.jpg">
							<img class="grid__img" src="images/proposal/3.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/4.jpg">
							<img class="grid__img" src="images/proposal/4.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/5.jpg">
							<img class="grid__img" src="images/proposal/5.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/6.jpg">
							<img class="grid__img" src="images/proposal/6.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/8.jpg">
							<img class="grid__img" src="images/proposal/8.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/9.jpg">
							<img class="grid__img" src="images/proposal/9.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/10.jpg">
							<img class="grid__img" src="images/proposal/10.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/11.jpg">
							<img class="grid__img" src="images/proposal/11.jpg" alt="Some image" />
						</a>
					</div>
					<div class="grid__item">
						<a class="grid__link proposal-imgs" rel="proposal-imgs-group" href="images/proposal/12.jpg">
							<img class="grid__img" src="images/proposal/12.jpg" alt="Some image" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<!-- <section class="engagement-photos-grid slide" data-section-name="engagement">
		<h1 class="section-header">Engagement Photos</h1>
		<div class="coming-soon">
			Coming soon!
		</div>
	</section> -->

	<section class="wedding-form-page slide" data-section-name="rsvp">
		<div class="container" id="wedding-form">
			<div class="wedding-form fs-form-wrap" id="fs-form-wrap">
				<h1 class="section-header">RSVP</h1>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off" action="https://docs.google.com/forms/d/e/1FAIpQLSf6ajgQRFnHS5v13ivM1imuGPWUx0PEaM8XoPBJjmbe6ilySg/formResponse">
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" for="q1">First and last name please!</label>
							<input class="fs-anim-lower" id="q1" name="entry.2119593387" type="text" required/>
						</li>
						<li data-input-trigger>
							<div name="entry.1705276704">
								<label class="fs-field-label fs-anim-upper" for="q3">Will you be attending our wedding?</label>
								<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
									<span>
										<input id="q3b" type="radio" name="entry.1705276704" value="Yes, I'll be there to celebrate with y'all!" required />
										<label for="q3b" class="radio-yes">Yes! I will be there to celebrate with y'all!</label>
									</span>
									<span>
										<input id="q3c" type="radio" name="entry.1705276704" value="No, unfortunately I cannot." />
										<label for="q3c" class="radio-no">No, unfortunately I cannot.</label>
									</span>
								</div>
							</div>
						</li>
						<li data-input-trigger>
							<div name="entry.66188498">
								<label class="fs-field-label fs-anim-upper" for="q3">If you are married, will your spouse be attending as well?</label>
								<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
									<span>
										<input id="q5b" type="radio" name="entry.66188498" value="Yes" required />
										<label for="q5b" class="radio-yes">Yes!</label>
									</span>
									<span>
										<input id="q5c" type="radio" name="entry.66188498" value="No" />
										<label for="q5c" class="radio-no">No!</label>
									</span>
								</div>
							</div>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q2">May we have your mailing address?</label>
							<input class="fs-anim-lower" id="q2" name="entry.1869351217" type="email" />
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q4">Lastly, is there anything you would like us to know? Food allergies, etc.</label>
							<input class="fs-anim-lower" id="q4" name="entry.1907914133" type="text" />
						</li>
					</ol>
					<!-- /fs-fields -->
					<button class="fs-submit colored-btn cool-color-effect" type="submit">
						<span>
							Submit
						</span>
					</button>
				</form>
				<!-- /fs-form -->
			</div>
			<!-- /fs-form-wrap -->
		</div>
	</section>

	<script>
		function initMap() {
			var seventh_place = {
				lat: 34.033493,
				lng: -118.232001
			};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 12,
				center: seventh_place
			});
			var marker = new google.maps.Marker({
				position: seventh_place,
				map: map
			});
		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6MbK561lbp99AtY9dOloRCn6aJpsqJGY&callback=initMap"></script>
	<script src="js/classie.js"></script>
	<script src="js/selectFx.js"></script>
	<script src="js/fullscreenForm.js"></script>
	<script>
		(function () {
			var formWrap = document.getElementById('fs-form-wrap');

			[].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
				new SelectFx(el, {
					stickyPlaceholder: false,
					onChange: function (val) {
						document.querySelector('span.cs-placeholder').style.backgroundColor = val;
					}
				});
			});

			new FForm(formWrap, {
				onReview: function () {
					classie.add(document.body, 'overview'); // for demo purposes only
				}
			});
		})();
	</script>
	<script src="js/jquery.min.js"></script>
	<script src="js/fancybox.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/anime.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/grid.js"></script>
	<script src="js/index-uncompressed.js"></script>
</body>

</html>