<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hayoung & Isaac's Wedding</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/fancybox.css">
	<link rel="stylesheet" tyoe="text/css" href="css/cs-select.css">
	<link rel="stylesheet" tyoe="text/css" href="css/cs-skin-boxes.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/buttons.css">
	<link rel="stylesheet" type="text/css" href="css/component.css">
	<link rel="stylesheet" type="text/css" href="css/timeline.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/modernizr.custom.js"></script>
</head>

<body class="loading">
	<section class="home-page slide" data-section-name="home">
		<h1>Hayoung & Isaac's Wedding</h1>
		<div class="splash-img">
			<div class="splash-img-tint"></div>
			<div class="rsvp-btn-container">
				<a class="rsvp-btn colored-btn" href="#wedding-details">
					<span>
						INFO
					</span>
				</a>
			</div>
		</div>
	</section>

	<section id="wedding-details" class="wedding-details slide" data-section-name="details">
		<div class="col-xs-12 col-md-6 wedding-details-info wedding-details-info-when">
			<div class="when-details">
				<h2>
					<span>
						WHEN
					</span>
				</h2>
				<p>
					Saturday
				</p>
				<p>
					June 30, 2018
				</p>
			</div>

			<div class="where-details">
				<h2>
					<span>
						WHERE
					</span>
				</h2>
				<p>
					Seventh/Place
				</p>
				<p>
					802 Mateo St
				</p>
				<p>
					Los Angeles, CA 90021
				</p>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 wedding-details-info wedding-details-info-map">
			<div id="map" class="map"></div>

			<div class="map-btn-container">
				<a class="map-btn colored-btn cool-color-effect" href="https://www.google.com/maps/place/Seventh%2FPlace/@34.0334334,-118.2342116,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x80c2c621a0d83247:0xa2a881583f24d647!2sSeventh%2FPlace!8m2!3d34.033429!4d-118.2320229!3m4!1s0x80c2c621a0d83247:0xa2a881583f24d647!8m2!3d34.033429!4d-118.2320229"
				 target="_blank">
					<span>MAP</span>
				</a>
			</div>
		</div>
	</section>

	<section id="wedding-faq" class="wedding-faq slide" data-section-name="faq">
		<div class="container">
			<h1 class="section-header">FAQ</h1>
			<div id="timeline-container">
				<div class="timeline-item cash">
					<div class="timeline-icon">
						<img src="icons/cash.svg" alt="registry-img">
					</div>
					<div class="timeline-content right">
						<h2>Do you guys have a registry?</h2>
						<p>
							We do not. We would really appreciate cash though :)
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/car.svg" alt="parking-img">
					</div>
					<div class="timeline-content right">
						<h2>Where do I park?</h2>
						<p>
							There is an open parking lot next to the venue which is first come, first serve. Otherwise, there is street parking around the area.
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/no-baby.svg" alt="kids-img">
					</div>
					<div class="timeline-content right">
						<h2>Wait, so can I bring my kids or not?</h2>
						<p>
							Unfortunately, we must ask that you please leave your kids at home (unless you are the bride's or groom's family)
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/beer.svg" alt="open-bar-img">
					</div>
					<div class="timeline-content right">
						<h2>Please tell me you're having an open bar. Please.</h2>
						<p>
							Yep. Beer, wine, and some mixed drinks.
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/dancing.svg" alt="after-party-img">
					</div>
					<div class="timeline-content right">
						<h2>Where's the after party?</h2>
						<p>
							The ceremony, reception, and after party will all be at the venue.
						</p>
					</div>
				</div>
				
				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/no-smoking.svg" alt="cigarette-img">
					</div>
					<div class="timeline-content right">
						<h2>Can I smoke at the venue?</h2>
						<p>
							No smoking please!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="wedding-timeline" class="wedding-timeline slide" data-section-name="timeline">
		<div class="container">
			<h1 class="section-header">Wedding Day Timeline</h1>
			<div id="timeline-container">
				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/wedding-couple.svg" alt="ceremony-img">
					</div>
					<div class="timeline-content">
						<h2>Ceremony - 4:30pm</h2>
						<p>
							It'll be official!
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/taco.svg" alt="taco-img">
					</div>
					<div class="timeline-content right">
						<h2>Cocktail Hour - 5:20pm</h2>
						<p>
							Tacos, drinks, games, you name it.
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/reception.svg" alt="reception-img">
					</div>
					<div class="timeline-content">
						<h2>Reception - 6:00pm</h2>
						<p>
							Good food and good company!
						</p>
					</div>
				</div>

				<div class="timeline-item">
					<div class="timeline-icon">
						<img src="icons/party.svg" alt="party-img">
					</div>
					<div class="timeline-content right">
						<h2>After Party - 9:00pm</h2>
						<p>
							It's party time.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
	<script>
		function initMap() {
			var seventh_place = {
				lat: 34.033493,
				lng: -118.232001
			};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 12,
				center: seventh_place
			});
			var marker = new google.maps.Marker({
				position: seventh_place,
				map: map
			});
		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6MbK561lbp99AtY9dOloRCn6aJpsqJGY&callback=initMap"></script>
	<script src="js/classie.js"></script>
	<script src="js/selectFx.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/anime.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/grid.js"></script>
	<script src="js/index-uncompressed.js"></script>
</body>

</html>