<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Hayoung & Isaac's Wedding</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
	<div class="login-page">
		<div class="login-page-img"></div>
		<div class="login-page-tint"></div>
		<div class="login-page-menu">
			<div class="countdown-outer-container">
				<div class="countdown-container">
					<p id="countdown-months" class="countdown">
						<span></span>
					</p>
					<p class="countdown-unit">
						<span>
							months
						</span>
					</p>
				</div>

				<div class="countdown-container">
					<p id="countdown-days" class="countdown">
						<span></span>
					</p>
					<p class="countdown-unit">
						<span>
							days
						</span>
					</p>
				</div>
			</div>

			<h1>Hayoung & Isaac's Wedding</h1>

			<form method="post" action="/login">
				<p>
					<span class="password-label">PW:</span>
					<input type="password" class="password" name="password" />
					<input type="submit" class="input-submit" />
				</p>
			</form>
		</div>
	</div>
	
	<script src="js/login.js"></script>
</body>

</html>